@import "tailwindcss";

@theme {
  /* Dark Blue */
  --color-primary: #091F5B;
  
  /* Cream (Renamed from primary to avoid conflict) */
  --color-primary-light: #FFFBE8;
  
  /* Medium Blue */
  --color-secondary: #344EAD;
  
  /* Light Blue */
  --color-tertiary: #D0E4FF;
  
  /* Black */
  --color-text-only: #000000;
}